:root {
  --mainDark: white;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: black;
  --mainBlue: #007bff;
}

.navbar { 
  background-image: linear-gradient(to right, #38b6ff, #5271ff,#5e17eb, #8c52ff)!important;
  color:White;
}

.carousel-image {
size-adjust:inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
}

.carousel-image {
height: 500px;
width: 900px;
background-color: black;
opacity: 1.5;
}

.carousel-title {
  color:white;
  font-size: 50px;
  font-weight: 900;
  text-align:initial;
  margin-bottom: 12%;
  margin-left: 20%;
}

.carousel-title2 {
  color:white;
  font-size: 60px;
  font-weight:1000;
  text-align:initial;
  margin-bottom: 35%;
  margin-left: 8%;
  padding-right: 200px;
  
}

.carousel-button {
  border-radius: 100%!important;
  size: 100px;
  height: 100px
}

.icon-images {
  height: 200px;
  width: 245px;
  padding-right: 40px;
}